<div class="main">
  <!-- Background image container -->
  <div class="background-image" [class.background-visible]="showBackground"></div>

  <!-- Content container -->
  <div class="content">
    <h1>
      {{title}}
    </h1>
    <div class="buttons">
      <button (click)="button1Click()">Yes</button>
      <button (click)="toggleBackground()">DO NOT CLICK</button>
    </div>
    <div class="container">
      <img *ngFor="let img of images" [src]="img" class="small-image">
    </div>
  </div>
</div>

<!-- Popup modal -->
<div *ngIf="openPopup" class="window-container" (click)="closePopup()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-bg"></div>
    <span class="close" (click)="closePopup()">&times;</span>
    <h2>RAHHHHHHHHHHHHHHHHHHHHHHHHH LETS GOOOOOOOOOOOOO</h2>
    <h3> I'm busy with school and midterms and tomorrow my parents want me to celebrate my birthday</h3>
    <h3> So I'm inviting you on the 26th february to a kbbq :)</h3>
    <h3> If you would be my guest Fari </h3>
  </div>
</div>

<router-outlet />